<main class="l-main">
  <div class="alert-container">
    <div class="alert-inner">
      <div class="icon">
        <img src="<%= meta.imgPath %>/ic-attention.svg" alt="" />
      </div>
      <p class="text">
        <span>MAIN</span>
      </p>
    </div>
  </div>
  <section class="top-info">
    <h2 class="c-top-section-title top-info-title">INFORMATION</h2>
    <ul class="c-info-items top-info-items">
      <li class="c-info-item">
        <article>
          <div class="c-info-tags">
            <span class="category __blue">FANCLUB</span>
            <span class="new"
              ><img src="<%= meta.imgPath %>/ic-new-black.svg" alt="NEW"
            /></span>
            <span class="date">2021.00.00</span>
          </div>
          <section>
            <h3 class="c-info-article-title">
              <a href="./info/detail.html">
                ニュースタイトルが入ります。ニュースタイトルが入ります。
                ニュースタイトルが入ります。ニュースタイトルが入ります。
              </a>
            </h3>
            <a href="./info/detail.html" class="c-info-more f-jfR">READ MORE</a>
          </section>
        </article>
      </li>

      <li class="c-info-item">
        <article>
          <div class="c-info-tags">
            <span class="category __green">MEDIA</span>
            <span class="new"
              ><img src="<%= meta.imgPath %>/ic-new-black.svg" alt="NEW"
            /></span>
            <span class="date">2021.00.00</span>
          </div>
          <section>
            <h3 class="c-info-article-title">
              <a href="./info/detail.html"> ニュースタイトルが入ります。 </a>
            </h3>
            <a href="./info/detail.html" class="c-info-more f-jfR">READ MORE</a>
          </section>
        </article>
      </li>

      <li class="c-info-item">
        <article>
          <div class="c-info-tags">
            <span class="category __orange">RELEASE</span>
            <span class="new"
              ><img src="<%= meta.imgPath %>/ic-new-black.svg" alt="NEW"
            /></span>
            <span class="date">2021.00.00</span>
          </div>
          <section>
            <h3 class="c-info-article-title">
              <a href="./info/detail.html">
                ニュースタイトルが入ります。ニュースタイトルが入ります。
                ニュースタイトルが入ります。ニュースタイトルが入ります。
              </a>
            </h3>
            <a href="./info/detail.html" class="c-info-more f-jfR">READ MORE</a>
          </section>
        </article>
      </li>

      <li class="c-info-item">
        <article>
          <div class="c-info-tags">
            <span class="category __pink">LIVE/EVENT</span>
            <span class="date">2021.00.00</span>
          </div>
          <section>
            <h3 class="c-info-article-title">
              <a href="./info/detail.html">
                ニュースタイトルが入ります。ニュースタイトルが入ります。
                ニュースタイトルが入ります。ニュースタイトルが入ります。
              </a>
            </h3>
            <a href="./info/detail.html" class="c-info-more f-jfR">READ MORE</a>
          </section>
        </article>
      </li>
    </ul>
    <div class="top-info-viewall">
      <a href="./info/" class="c-btn__viewall top-info-viewall__btn"
        >VIEW ALL</a
      >
    </div>
  </section>
  <section class="top-fc-area">
    <h1 class="top-fc-title f-jfB">FANCLUB<br />AREA</h1>
    <!-- MEMORIES -->
    <section class="top-section top-memories para-item">
      <h2 class="c-top-section-title title">MEMORIES</h2>
      <div class="swiper-container memories-slider js-memoriesSlider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="./memories/detail.html">
              <div class="slide-inner">
                <span class="tag-new"
                  ><img
                    src="<%= meta.imgPath %>/ic-new-blue.svg"
                    alt="NEW"
                    width="120"
                    height="auto"
                /></span>
                <div class="bg-img __1"></div>
                <p class="date">2021.<span>03.01</span></p>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="./memories/detail.html">
              <div class="slide-inner">
                <div class="bg-img __2"></div>
                <p class="date">2021.<span>03.01</span></p>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="./memories/detail.html">
              <div class="slide-inner">
                <div class="bg-img __3"></div>
                <p class="date">2021.<span>03.01</span></p>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="./memories/detail.html">
              <div class="slide-inner">
                <div class="bg-img __4"></div>
                <p class="date">2021.<span>03.01</span></p>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="./memories/detail.html">
              <div class="slide-inner">
                <div class="bg-img __5"></div>
                <p class="date">2021.<span>03.01</span></p>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="./memories/detail.html">
              <div class="slide-inner">
                <div class="bg-img __6"></div>
                <p class="date">2021.<span>03.01</span></p>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="./memories/detail.html">
              <div class="slide-inner">
                <div class="bg-img __7"></div>
                <p class="date">2021.<span>03.01</span></p>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="./memories/detail.html">
              <div class="slide-inner">
                <div class="bg-img __8"></div>
                <p class="date">2021.<span>03.01</span></p>
              </div>
            </a>
          </div>
        </div>
        <div class="swiper-button-prev c-slide-button __prev"></div>
        <div class="swiper-button-next c-slide-button __next"></div>
      </div>
      <div class="top-info-viewall u-adjust-viewall">
        <a href="./memories/" class="c-btn__viewall top-info-viewall__btn"
          >VIEW ALL</a
        >
      </div>
    </section>
    <!--  // MEMORIES -->

    <!-- MOVIE -->
    <section class="top-section top-movie para-item">
      <h2 class="c-top-section-title title">MOVIE</h2>
      <div class="swiper-container movie-slider js-movieSlider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="./movie/detail.html">
              <div class="slide-inner">
                <span class="tag-new"
                  ><img
                    src="<%= meta.imgPath %>/ic-new-blue.svg"
                    width="120"
                    height="auto"
                    alt="NEW"
                /></span>
                <div class="bg-img __movie __1"></div>
                <div class="bg-img-foot"></div>
                <div class="text">
                  <p class="date">
                    <span class="sm">2021.01</span><span class="lg">07</span>
                  </p>
                  <h3 class="item-title">タイトルが入ります。</h3>
                </div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="./movie/detail.html">
              <div class="slide-inner">
                <div class="bg-img __movie __1"></div>
                <div class="bg-img-foot"></div>
                <div class="text">
                  <p class="date">
                    <span class="sm">2021.01</span><span class="lg">07</span>
                  </p>
                  <h3 class="item-title">
                    タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。
                  </h3>
                </div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="./movie/detail.html">
              <div class="slide-inner">
                <div class="bg-img __movie __1"></div>
                <div class="bg-img-foot"></div>
                <div class="text">
                  <p class="date">
                    <span class="sm">2021.01</span><span class="lg">07</span>
                  </p>
                  <h3 class="item-title">タイトルが入ります。</h3>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="swiper-button-prev c-slide-button"></div>
        <div class="swiper-button-next c-slide-button"></div>
      </div>
      <div class="top-info-viewall u-adjust-viewall">
        <a href="./movie/" class="c-btn__viewall top-info-viewall__btn"
          >VIEW ALL</a
        >
      </div>
    </section>
    <!-- // MOVIE -->

    <!-- REPORT -->
    <section class="top-section top-report para-item">
      <h2 class="c-top-section-title title">REPORT</h2>
      <div class="section-slider-wrapper">
        <div class="swiper-container report-slider js-reportSlider">
          <div class="swiper-wrapper report-wrapper">
            <div class="swiper-slide">
              <a href="./report/detail.html">
                <div class="slide-inner">
                  <span class="tag-new"
                    ><img src="<%= meta.imgPath %>/ic-new-blue.svg" alt="NEW"
                  /></span>
                  <div class="text">
                    <p class="date">
                      <span>2021.</span><span class="lg">03.01</span>
                    </p>
                    <h3 class="item-title">
                      タイトルが入ります。タイトル
                      が入ります。タイトルが入ります。タイトルが入ります。
                    </h3>
                  </div>
                  <div class="img-inner">
                    <img src="<%= meta.imgPath %>/img-miyu05.jpg" alt="" />
                  </div>
                </div>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="./report/detail.html">
                <div class="slide-inner">
                  <div class="text">
                    <p class="date">
                      <span>2021.</span><span class="lg">03.01</span>
                    </p>
                    <h3 class="item-title">１行タイトル</h3>
                  </div>
                  <div class="img-inner">
                    <img src="<%= meta.imgPath %>/img-miyu05.jpg" alt="" />
                  </div>
                </div>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="./report/detail.html">
                <div class="slide-inner">
                  <div class="text">
                    <p class="date">
                      <span>2021.</span><span class="lg">04.01</span>
                    </p>
                    <h3 class="item-title">
                      タイトルが入ります。タイトル
                      が入ります。タイトルが入ります。タイトルが入ります。
                    </h3>
                  </div>
                  <div class="img-inner">
                    <img src="<%= meta.imgPath %>/img-miyu05.jpg" alt="" />
                  </div>
                </div>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="./report/detail.html">
                <div class="slide-inner">
                  <div class="text">
                    <p class="date">
                      <span>2021.</span><span class="lg">05.01</span>
                    </p>
                    <h3 class="item-title">１行タイトル</h3>
                  </div>
                  <div class="img-inner">
                    <img src="<%= meta.imgPath %>/img-miyu05.jpg" alt="" />
                  </div>
                </div>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="./report/detail.html">
                <div class="slide-inner">
                  <div class="text">
                    <p class="date">
                      <span>2021.</span><span class="lg">06.01</span>
                    </p>
                    <h3 class="item-title">
                      タイトルが入ります。タイトル
                      が入ります。タイトルが入ります。タイトルが入ります。
                    </h3>
                  </div>
                  <div class="img-inner">
                    <img src="<%= meta.imgPath %>/img-miyu05.jpg" alt="" />
                  </div>
                </div>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="./report/detail.html">
                <div class="slide-inner">
                  <div class="text">
                    <p class="date">
                      <span>2021.</span><span class="lg">07.01</span>
                    </p>
                    <h3 class="item-title">
                      タイトルが入ります。タイトル
                      が入ります。タイトルが入ります。タイトルが入ります。
                    </h3>
                  </div>
                  <div class="img-inner">
                    <img src="<%= meta.imgPath %>/img-miyu05.jpg" alt="" />
                  </div>
                </div>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="./report/detail.html">
                <div class="slide-inner">
                  <div class="text">
                    <p class="date">
                      <span>2021.</span><span class="lg">03.01</span>
                    </p>
                    <h3 class="item-title">
                      タイトルが入ります。タイトル
                      が入ります。タイトルが入ります。タイトルが入ります。
                    </h3>
                  </div>
                  <div class="img-inner">
                    <img src="<%= meta.imgPath %>/img-miyu05.jpg" alt="" />
                  </div>
                </div>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="./report/detail.html">
                <div class="slide-inner">
                  <div class="text">
                    <p class="date">
                      <span>2021.</span><span class="lg">03.01</span>
                    </p>
                    <h3 class="item-title">タイトルが入ります。</h3>
                  </div>
                  <div class="img-inner">
                    <img src="<%= meta.imgPath %>/img-miyu05.jpg" alt="" />
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="swiper-button-prev c-slide-button __prev __report"></div>
          <div class="swiper-button-next c-slide-button __next __report"></div>
        </div>
      </div>
      <div class="top-info-viewall u-adjust-viewall">
        <a href="./report/" class="c-btn__viewall top-info-viewall__btn"
          >VIEW ALL</a
        >
      </div>
    </section>
    <!-- //REPORT -->

    <!-- PODCAST -->
    <section class="top-section top-podcast para-item">
      <h2 class="c-top-section-title title">PODCAST</h2>
      <div
        class="swiper-container movie-slider podcast-slider js-podcastSlider"
      >
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="slide-inner">
              <div class="bg-img-top"></div>
              <a href="./podcast/detail.html">
                <div class="bg-img __movie __1">
                  <span class="tag-new"
                    ><img src="<%= meta.imgPath %>/ic-new-blue.svg" alt="NEW"
                  /></span>
                </div>
              </a>
              <a href="./podcast/detail.html">
                <div class="text">
                  <p class="date">
                    <span class="sm">2021.01</span><span class="lg">07</span>
                  </p>
                  <h3 class="item-title">タイトルが入ります。</h3>
                </div>
              </a>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="slide-inner">
              <div class="bg-img-top"></div>
              <a href="./podcast/detail.html">
                <div class="bg-img __movie __1">
                  <span class="tag-new"
                    ><img src="<%= meta.imgPath %>/ic-new-blue.svg" alt="NEW"
                  /></span>
                </div>
              </a>
              <a href="./podcast/detail.html">
                <div class="text">
                  <p class="date">
                    <span class="sm">2021.01</span><span class="lg">07</span>
                  </p>
                  <h3 class="item-title">
                    ２行タイトルが入ります。２行タイトルが入ります。２行タイトルが入ります。２行タイトルが入ります。２行タイトルが入ります。
                  </h3>
                </div>
              </a>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="slide-inner">
              <div class="bg-img-top"></div>
              <a href="./podcast/detail.html">
                <div class="bg-img __movie __1">
                  <span class="tag-new"
                    ><img src="<%= meta.imgPath %>/ic-new-blue.svg" alt="NEW"
                  /></span>
                </div>
              </a>
              <a href="./podcast/detail.html">
                <div class="text">
                  <p class="date">
                    <span class="sm">2021.01</span><span class="lg">07</span>
                  </p>
                  <h3 class="item-title">タイトルが入ります。</h3>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-button-prev c-slide-button __prev __podcast"></div>
        <div class="swiper-button-next c-slide-button __next __podcast"></div>
      </div>

      <div class="top-info-viewall u-adjust-viewall">
        <a href="./podcast/" class="c-btn__viewall top-info-viewall__btn"
          >VIEW ALL</a
        >
      </div>
    </section>
    <!-- // PODCAST -->

    <!-- TALKBOX -->
    <section class="top-section top-talkbox para-item">
      <h2 class="c-top-section-title title">TALKBOX</h2>
      <ul class="top-talk-items">
        <li class="top-talk-item">
          <span class="tag-new"
            ><img src="<%= meta.imgPath %>/ic-new-blue.svg" alt="NEW"
          /></span>
          <div class="c-date-talk top-talk-date">
            <p class="c-date-smlg">
              <span class="sm">2021.</span><span class="lg">03.01</span>
            </p>
          </div>
          <h3 class="talk-title">
            <a href="talkbox/">タイトルが入ります。</a>
          </h3>
        </li>
        <li class="top-talk-item">
          <div class="c-date-talk top-talk-date">
            <p class="c-date-smlg">
              <span class="sm">2021.</span><span class="lg">03.01</span>
            </p>
          </div>
          <h3 class="talk-title">
            <a href="talkbox/">タイトルが入ります。</a>
          </h3>
        </li>
        <li class="top-talk-item">
          <div class="c-date-talk top-talk-date">
            <p class="c-date-smlg">
              <span class="sm">2021.</span><span class="lg">03.01</span>
            </p>
          </div>
          <h3 class="talk-title">
            <a href="talkbox/">タイトルが入ります。</a>
          </h3>
        </li>
      </ul>
      <div class="top-info-viewall u-adjust-viewall">
        <a href="./talkbox/" class="c-btn__viewall top-info-viewall__btn"
          >VIEW ALL</a
        >
      </div>
    </section>
    <!-- // TALKBOX -->

    <!-- SPECIAL -->
    <section class="top-section top-special para-item">
      <h2 class="c-top-section-title title">SPECIAL</h2>
      <div class="top-special-content">
        <a href="./special/detail.html">
          <div class="top-special-inner">
            <div class="c-box-new">
              <span class="c-box-new__tag"
                ><img src="<%= meta.imgPath %>/ic-new-blue.svg" alt="NEW"
              /></span>
            </div>
          </div>
        </a>
      </div>
      <div class="top-info-viewall u-adjust-viewall">
        <a href="./special/" class="c-btn__viewall top-info-viewall__btn"
          >VIEW ALL</a
        >
      </div>
    </section>
  </section>
</main>
